*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #c870d5;
}
.wrapper .quest{
  font-size: 30px;
  color: #fff;
}
.wrapper,
.score{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: crimson;
  width: 300px;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  display: none;
}
.wrapper span{
  color: #fff;
  font-size: 20px;
}
.wrapper .btn button{
  position: absolute;
  right: 0;
  padding: 10px;
  font-size: 15px;
  border-radius: 14px;
  background: green;
  color: #fff;
  border: none;
  outline: none;
}
.wrapper .btn{
  position: relative;
  height: 40px;
}
.score p{
  color: #fff;
  font-size: 20px;
  text-align: center;
}
.score button{
  width: 100%;
  padding: 10px;
  font-size: 20px;
  color: #fff;
  background: green;
  border: none;
  border-radius: 0 0 10px 10px;
  outline: none;
}
.start{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: crimson;
  width: 300px;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  display: block;
  padding: 15px;
  text-align: center;
}
.start .btnstart button{
  padding: 10px;
  font-size: 25px;
  background: green;
  color: #fff;
  border: none;
  border-radius: 10px;
}